python-dotenv==1.0.1
loguru==0.7.2
tenacity>=8.1.0,<9.0.0,!=8.4.0
langchain>=0.0.267
langchain-community>=0.0.1
chromadb>=0.4.18
huggingface-hub<0.26.0
sentence-transformers>=2.2.2
numpy<2.0.0
google-generativeai
aiohttp>=3.8.6